<br/>
<form class="form-horizontal">
  <div class="form-group">
    <label class="col-sm-3">Kode Institusi</label>
      
      <div class="col-sm-9">
    <input type="email" class="form-control" ng-model="currentKelas.nama">
  </div>
      </div>
    </form>
<form class="form-horizontal">
  <div class="form-group">
    <label class="col-sm-3">Nama Institusi</label>
      <div class="col-sm-9">
    <input type="email" class="form-control" ng-model="currentKelas.nama">
  </div>
    </div>
    </form>
<form class="form-horizontal">
  <div class="form-group">
    <label class="col-sm-3">Email</label>
      <div class="col-sm-9">
    <input type="email" class="form-control" ng-model="currentKelas.nama">
  </div>
    </div>
    </form>
<form class="form-horizontal">
  <div class="form-group">
    <label class="col-sm-3">Website</label>
      <div class="col-sm-9">
    <input type="email" class="form-control" ng-model="currentKelas.nama">
  </div>
    </div>
    </form>
<form class="form-horizontal">
  <div class="form-group">
    <label class="col-sm-3">Alamat</label>
      <div class="col-sm-9">
    <input type="email" class="form-control" ng-model="currentKelas.nama">
  </div>
    </div>
    </form>
    <form class="form-horizontal">
  <div class="form-group">
    <label class="col-sm-3">Telepon</label>
      <div class="col-sm-9">
    <input type="email" class="form-control" ng-model="currentKelas.nama">
  </div>
    </div>
        </form>
    <form class="form-horizontal">
  <div class="form-group">
    <label class="col-sm-3">Fax</label>
      <div class="col-sm-9">
    <input type="email" class="form-control" ng-model="currentKelas.nama">
  </div>
    </div>
        </form>
        <div class="text-center">
        <div class="form-group">
        <button type="submit" class="btn btn-default">Simpan</button> 
            </div>
            </div>
        <br/>
        <br/>
        <br/>
        <br/>
  <table class="table table-bordered">
    <thead>
            <tr class="active">
            <th>Kode Institusi</th>
            <th>Nama Institusi</th>
            <th>Email</th>    
            <th>Website</th>
            <th>Alamat</th>
            <th>Fax</th>
            </tr>
        <tbody>    
        <tr>
            <td>Arvi</td>    
            <td>Artivisi Intermedia</td>    
            <td>Endy</td>    
            <td></td>    
            <td></td>    
            <td></td>    
        </tr>
        </tbody>
      </thead>
  </table>
<div class="text-center">
<div class="pagination">

    <a href="#"><u>First</u></a>
  <a href="#">&nbsp;&nbsp;&nbsp;<u>Prev</u></a>
  <a href="#">&nbsp;&nbsp;&nbsp;&nbsp;<u>1</u></a>
  <a href="#"><u>2</u></a>
  <a href="#"><u>3</u></a>
  <a href="#">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<u>Next</u></a>
  <a href="#">&nbsp;&nbsp;&nbsp;&nbsp;<u>Last</u></a>

</div>
</div>
