
<div class="container">
<h1 style="text-align:center">Registrasi Institusi</h1>

<form class="form-group">
    <table width="100%" border="0">
    <tr>
        <th width="258" align="left" valign="top" scope="col"><div class="form-group">
            <label>Kode Institusi</label><br>
            <input type="email" class="form-control" id="" placeholder="Kode Institusi">
            </div></th>
    
        <th width="19" scope="col"> </th>
        <th width="208" align="left" valign="top" scope="col"><div class="form-group">
        <label>Nama Institusi</label><br>
        <input type="email" class="form-control" id="" placeholder="Nama Institusi">
  </div></th>
  </tr>
  <tr>
        <td align="left" valign="top"><div class="form-group">
      <label>Website</label><br>
      <input type="email" class="form-control" id="" placeholder="Website">
      </div></td>
    <td>&nbsp;</td>
    <td rowspan="2" align="left" valign="top">Alamat <br>
      <textarea class="form-control" rows="3"></textarea>
      </td>
  </tr>
  <tr>
    <td align="left" valign="top"><div class="form-group">
      <label>No. Telepon</label><br>
      <input type="email" class="form-control" id="" placeholder="No. Telepon">
      </div></td>
    <td>&nbsp;</td>
  </tr>
  </table>
</form>
<ul class="nav navbar-nav navbar-right">
      			          
      			<button type="button" class="btn btn-default">Simpan</button>
      		</ul>	
</div><br>





<br>
<div> 
<form class="form-horizontal">
    
    <div class="form-group"><label  class="col-sm-3">Kode Institusi </label>
        <div class="col-sm-9">
            <input type="text" class="form-control"  placeholder="">
        </div>
    </div>
    
    <div class="form-group"><label  class="col-sm-3">Nama Institusi </label>
        <div class="col-sm-9">
            <input type="text" class="form-control" placeholder="">
        </div>
    </div>

      <div class="form-group"><label  class="col-sm-3">Email </label>
        <div class="col-sm-9">
            <input type="text" class="form-control" placeholder="">
        </div>
    </div>
    
    <div class="form-group"><label  class="col-sm-3">Website </label>
        <div class="col-sm-9">
            <input type="text" class="form-control"  placeholder="">
        </div>
    </div>
    
    <div class="form-group"><label  class="col-sm-3">Alamat </label>
        <div class="col-sm-9">
            <input type="text" class="form-control" placeholder="">
        </div>
    </div>
    
    <div class="form-group"><label  class="col-sm-3">Telepon </label>
        <div class="col-sm-9">
            <input type="text" class="form-control" placeholder="">
        </div>
    </div>
    
    <div class="form-group"><label  class="col-sm-3">Fax </label>
        <div class="col-sm-9">
            <input type="text" class="form-control" placeholder="">
        </div>
    </div>
    
    
        <div class="form-group"><label  class="col-sm-3"></label>
            <div class="col-sm-3">
                <button type="submit" class="btn btn-default">Simpan</button>
            </div>
        </div>
    
</div>
    <br><br><br>
    <h1 style="text-align:center">Registrasi Institusi</h1>
    <div class="container">
    <table class="table table-bordered">
    <thead>
      <tr class="info">
        <th>Kode Istitusi</th>
        <th>Nama Institusi</th>
        <th>Email</th>
        <th>Website</th>
        <th>Alamat</th>
        <th>Telepon</th>
        <th>Fax</th>  
     </tr>
    </thead>
    <tbody>
      <tr>
        <td>ARVI</td> 
        <td>PT. Artivisi Intermedia</td>
        <td>info@artivisi.com</td>
        <td>http://www.artivisi.com</td>
        <td></td>
        <td></td>
      </tbody>
  </table>
    </div>
    
<div class="text-center">
  <ul class="pagination pagination-sm">
    <li><a href="#">&laquo;</a></li>
        <li><a href="#">Prev</a></li>    
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#">&raquo;</a></li>
        <li><a href="#">Next</a></li>
  </ul>
</div> 
    
    
    
 
    </form>