<h1>Registrasi Institusi</h1>
<div> 
<form class="form-horizontal">
    
    <div class="form-group"><label  class="col-sm-3">Kode Institusi </label>
        <div class="col-sm-9">
            <input type="text" class="form-control" ng-model="currentKelas.nama" placeholder="">
        </div>
    </div>
    
    <div class="form-group"><label  class="col-sm-3">Nama Institusi </label>
        <div class="col-sm-9">
            <input type="text" class="form-control" ng-model="currentKelas.nama" placeholder="">
        </div>
    </div>

      <div class="form-group"><label  class="col-sm-3">Email </label>
        <div class="col-sm-9">
            <input type="text" class="form-control" ng-model="currentKelas.nama" placeholder="">
        </div>
    </div>
    
    <div class="form-group"><label  class="col-sm-3">Website </label>
        <div class="col-sm-9">
            <input type="text" class="form-control" ng-model="currentKelas.nama" placeholder="">
        </div>
    </div>
    
    <div class="form-group"><label  class="col-sm-3">Alamat </label>
        <div class="col-sm-9">
            <input type="text" class="form-control" ng-model="currentKelas.nama" placeholder="">
        </div>
    </div>
    
    <div class="form-group"><label  class="col-sm-3">Telepon </label>
        <div class="col-sm-9">
            <input type="text" class="form-control" ng-model="currentKelas.nama" placeholder="">
        </div>
    </div>
    
    <div class="form-group"><label  class="col-sm-3">Fax </label>
        <div class="col-sm-9">
            <input type="text" class="form-control" ng-model="currentKelas.nama" placeholder="">
        </div>
    </div>
    
    
        <div class="form-group"><label  class="col-sm-3"></label>
            <div class="col-sm-3">
                <button type="submit" class="btn btn-default">Simpan</button>
            </div>
        </div>
    
</div>
    <br><br><br>
    <h1 style="text-align:center">Registrasi Institusi</h1>
    <div class="container">
    <table class="table table-bordered">
    <thead>
      <tr class="info">
        <th>Kode Istitusi</th>
        <th>Nama Institusi</th>
        <th>Email</th>
        <th>Website</th>
        <th>Alamat</th>
        <th>Telepon</th>
        <th>Fax</th>  
     </tr>
    </thead>
    <tbody>
      <tr>
        <td>ARVI</td> 
        <td>PT. Artivisi Intermedia</td>
        <td>info@artivisi.com</td>
        <td>http://www.artivisi.com</td>
        <td></td>
        <td></td>
      </tbody>
  </table>
    </div>
    
<div class="text-center">
  <ul class="pagination pagination-sm">
    <li><a href="#">&laquo;</a></li>
        <li><a href="#">Prev</a></li>    
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#">&raquo;</a></li>
        <li><a href="#">Next</a></li>
  </ul>
</div> 
    
    
    
 
    </form>