<h1>Cari Peserta</h1>
<form class="form-horizontal">
    <div class="form-group"><label  class="col-sm-3">Institusi </label>
        
<div class="col-lg-9">
        <div class="input-group">
            <input type="text" class="form-control" aria-label="...">
        <div class="input-group-btn">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="caret"></span></button>
            <ul class="dropdown-menu dropdown-menu-right" role="menu">
                <li><a href="#">Programming</a></li>
                <li><a href="#">Java</a></li>
                <li><a href="#">Bootstrap</a></li>
                <li class="divider"></li>
                <li><a href="#">Separated link</a></li>
            </ul>
        </div><!-- /btn-group -->
        </div><!-- /input-group -->
</div><!-- /.col-lg-6 -->
    </div>
    
    

    <div class="form-group"><label  class="col-sm-3">Nama / Email </label>
        <div class="col-sm-9">
            <input type="text" class="form-control" ng-model="currentKelas.nama" placeholder="">
        </div>
    </div>
    
   
        
        <div class="form-group"><label  class="col-sm-3"></label>
        <div class="col-sm-3">
             <button type="submit" class="btn btn-default">Cari</button>
        </div>
        </div>
    
    <br>
    <br>
    
    <div>
        
        <h1>Peserta</h1>
    <table class="table table-bordered">
    <thead>
      <tr class="info">
        <th style="text-align:center"><input type="checkbox"></th>
        <th>Nama</th>
        <th>Email</th>
        <th>Istitusi</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td style="text-align:center"><input type="checkbox"></td> 
        <td>Endy</td>
        <td>endy Artivisi</td>
        <td>Artivisi</td>
      </tr>
       <tr>
        <td style="text-align:center"><input type="checkbox"></td> 
        <td>Endy</td>
        <td>endy Artivisi</td>
        <td>Artivisi</td>
      </tr>
      <tr>
        <td style="text-align:center"><input type="checkbox"></td> 
        <td>Endy</td>
        <td>endy Artivisi</td>
        <td>Artivisi</td>
      </tr>
    </tbody>
  </table>
    </div>
    
 
    </form>