<h1  style="line-height: 300%;text-align:center">DAFTAR PESERTA</h1>

<div class="container">
    
         <nav class="navbar " role="navigation">
        <!-- Collect the nav links, forms, and other content for toggling -->
                
               <button class="btn btn-default" type="submit">Add File</button>
      		 <button class="btn btn-default" type="submit">Export To Pdf</button>
                 <button class="btn btn-default" type="submit">Cetak</button>


          	<ul class="nav navbar-nav navbar-right">
      			<li style="text-align:left"><span>Pencaharian</span></li>
      			<br>
                
      			<input class="btn btn-default" type="button" value="Kode Peserta">
      		</ul>	
			


        </nav>  
 
    

<br style="line-height: 200%">
<table class="table table-bordered">
    <thead>
    <tr class="active">
         <th>Kode Peserta </th>
         <th>Kode Institusi </th>
         <th>Nama Peserta </th>
         <th>Alamat </th>
         <th>No Telepon </th>
         <th>Options </th>
    </tr>
    </thead>
    
    <tbody>
        <tr >
            <td>A-0112</td>
            <td>D112-ARVI</td>
            <td>Tedy Mulyadi</td>
            <td>Jl. Raya Subang No.1</td>
            <td>022 123456</td>
            <td>
            <a>Edit</a> | 
            <a>Hapus</a>    
            </td>
        
        
        </tr>
    <tr>
            
          <td>A-0113</td>
            <td>D112-ARVI</td>
            <td>Ferdinan</td>
            <td>Jl. Raya Jakarta</td>
            <td>021 123456</td>
            <td>
            <a>Edit</a> | 
            <a>Hapus</a>    
            </td>
        
        </tr>
    </tbody>
</table>
<p class="navbar-right">Halaman</p><br>
    
    <ul class="pager">
  <li><a href="#">Previous</a></li>
        <li><a href="#">&laquo;</a></li>
  <li><a href="#">1</a></li>
  <li><a href="#">2</a></li>
  <li><a href="#">3</a></li>
  <li><a href="#">4</a></li>
  <li><a href="#">5</a></li>
  <li><a href="#">&raquo;</a></li>
  <li><a href="#">Next</a></li>
</ul>
</div>

<br>
<h1>Cari Peserta</h1>
<form class="form-horizontal">
    <div class="form-group"><label  class="col-sm-3">Institusi </label>
        
<div class="col-lg-9">
        <div class="input-group">
            <input type="text" class="form-control" aria-label="...">
        <div class="input-group-btn">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="caret"></span></button>
            <ul class="dropdown-menu dropdown-menu-right" role="menu">
                <li><a href="#">Programming</a></li>
                <li><a href="#">Java</a></li>
                <li><a href="#">Bootstrap</a></li>
                <li class="divider"></li>
                <li><a href="#">Separated link</a></li>
            </ul>
        </div><!-- /btn-group -->
        </div><!-- /input-group -->
</div><!-- /.col-lg-6 -->
    </div>
    
    

    <div class="form-group"><label  class="col-sm-3">Nama / Email </label>
        <div class="col-sm-9">
            <input type="text" class="form-control" ng-model="currentKelas.nama" placeholder="">
        </div>
    </div>
    
   
        
        <div class="form-group"><label  class="col-sm-3"></label>
        <div class="col-sm-3">
             <button type="submit" class="btn btn-default">Cari</button>
        </div>
        </div>
    
    <br>
    <br>
    
    <div>
        
        <h1>Peserta</h1>
    <table class="table table-bordered">
    <thead>
      <tr class="active">
        <th style="text-align:center"><input type="checkbox"></th>
        <th>Nama</th>
        <th>Email</th>
        <th>Istitusi</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td style="text-align:center"><input type="checkbox"></td> 
        <td>Endy</td>
        <td>endy Artivisi</td>
        <td>Artivisi</td>
      </tr>
       <tr>
        <td style="text-align:center"><input type="checkbox"></td> 
        <td>Endy</td>
        <td>endy Artivisi</td>
        <td>Artivisi</td>
      </tr>
      <tr>
        <td style="text-align:center"><input type="checkbox"></td> 
        <td>Endy</td>
        <td>endy Artivisi</td>
        <td>Artivisi</td>
      </tr>
    </tbody>
  </table>
    </div>
    
 
    </form>